<!-- templates/weight.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Weight Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Unit Converter</h1>
<nav>
    <a href="/length">Length</a>
    <a href="/weight" style="color:blue;">Weight</a>
    <a href="/temperature">Temperature</a>
</nav>

<div class="box">
    <form method="POST">
        <label>Enter the weight to convert:</label>
        <input type="number" name="value" step="any" placeholder="e.g., 100" required>

        <label>Unit to Convert from:</label>
        <input type="text" name="unit_from" placeholder="e.g., pound" required>

        <label>Unit to Convert to:</label>
        <input type="text" name="unit_to" placeholder="e.g., kilogram" required>

        <button type="submit">Convert</button>
    </form>
</div>

</body>
</html>
